{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}



{% block content %}
<style>
   .btn-danger {
        background-color: #FFF;
        color: #ac2925;
        border-color: #d2322d;
        border-radius: 25px;
    }
    .btn-danger:hover,
    .btn-danger:focus,
    .btn-danger:active {
        background-color: #d2322d;
        color: #FFF;
        border-color: #ac2925;
    }
</style>
    {% include 'navbar.html' %}
  <div class="container-fluid">
    <div class="row">

        
  <!-- start main  -->
      <main role="main" class="col-md-9 col-lg-10 ">
        <div class="align-items-center border-bottom">
          <h1 class="h2">Data Manager</h1>
        </div>
          <div class="row">
            <div class="col-lg-6 mb-4">
        <div class="table-responsive col-lg-6 mb-4" id='points'>
          <table class="table table-striped table-sm" id='pointsTable'>
            <thead>
              <tr>
                <th>Point Label</th>
                <th> Delete Button </th>
              </tr>
            </thead>
            <tbody>
              {% for label in labels %}
              
              <tr>
                <td> {{label.label}} </td>
                <td>
                  <a href="{{ url_for('delete_team_points', collection='points', name=label.label) }}">
                  <button type="button" class="btn btn-danger" href="{{ url_for('delete_team_points', collection='points', name=label.label) }}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"><path fill-rule="evenodd" d="M16 1.75V3h5.25a.75.75 0 010 1.5H2.75a.75.75 0 010-1.5H8V1.75C8 .784 8.784 0 9.75 0h4.5C15.216 0 16 .784 16 1.75zm-6.5 0a.25.25 0 01.25-.25h4.5a.25.25 0 01.25.25V3h-5V1.75z"></path><path d="M4.997 6.178a.75.75 0 10-1.493.144L4.916 20.92a1.75 1.75 0 001.742 1.58h10.684a1.75 1.75 0 001.742-1.581l1.413-14.597a.75.75 0 00-1.494-.144l-1.412 14.596a.25.25 0 01-.249.226H6.658a.25.25 0 01-.249-.226L4.997 6.178z"></path><path d="M9.206 7.501a.75.75 0 01.793.705l.5 8.5A.75.75 0 119 16.794l-.5-8.5a.75.75 0 01.705-.793zm6.293.793A.75.75 0 1014 8.206l-.5 8.5a.75.75 0 001.498.088l.5-8.5z"></path></svg>
                </button>
              </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-lg-6 mb-4">
        <div class="table-responsive col-lg-6 mb-4" id='teams'>
          <table class="table table-striped table-sm"id='teamsTable'>
            <thead>
              <tr>
                <th>Team Name</th>
                <th> Delete Button</th>
              </tr>
            </thead>
            <tbody>
              {% for team in teams %}
              
              <tr>
                <td> {{team.name}} </td>
                <td>
                  <a href="{{ url_for('delete_team_points', collection='teams', name=team.name) }}">
                  <button type="button" class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"><path fill-rule="evenodd" d="M16 1.75V3h5.25a.75.75 0 010 1.5H2.75a.75.75 0 010-1.5H8V1.75C8 .784 8.784 0 9.75 0h4.5C15.216 0 16 .784 16 1.75zm-6.5 0a.25.25 0 01.25-.25h4.5a.25.25 0 01.25.25V3h-5V1.75z"></path><path d="M4.997 6.178a.75.75 0 10-1.493.144L4.916 20.92a1.75 1.75 0 001.742 1.58h10.684a1.75 1.75 0 001.742-1.581l1.413-14.597a.75.75 0 00-1.494-.144l-1.412 14.596a.25.25 0 01-.249.226H6.658a.25.25 0 01-.249-.226L4.997 6.178z"></path><path d="M9.206 7.501a.75.75 0 01.793.705l.5 8.5A.75.75 0 119 16.794l-.5-8.5a.75.75 0 01.705-.793zm6.293.793A.75.75 0 1014 8.206l-.5 8.5a.75.75 0 001.498.088l.5-8.5z"></path></svg>
                  </button>
                </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
    </div>


      </main>
      <!-- end main -->
    </div>
  </div>

{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}