{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <d  v class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Select Time Data</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
        </div>
      </div>
    </div>
  <div class="container">
        
  <form method='POST' action='/get_time'>
    {{ form.hidden_tag() }}

    <div class="form-row">
        {{ wtf.form_field(form.week)}}
    </div>
    <div class="form-row">
      {{ wtf.form_field(form.season)}}
    </div>
<button class='btn btn-lg btn-primary' type='submit'>{{ wtf.form_field(form.submit)}}</button>
     </div>

{% endblock %}
