
  <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top flex-md-nowrap p-0 shadow">
    <div class="container-fluid">
            <a class="navbar-brand" href="#"><strong>FantasyData</strong></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNavDropdown">
    <span class="navbar-toggler-icon"></span>
        </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class = "navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Vegas Dash</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TOP GUNS</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Position Dashboards</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">QB</a>
                        <a class="dropdown-item" href="#">WR</a>
                        <a class="dropdown-item" href="#">TE</a>
                        <a class="dropdown-item" href="#">RB</a>
                        <a class="dropdown-item" href="#">DST</a>
                    </div>
                  </li>

                <li class="nav-item">
                    <a class="nav-link" href="players.html">Player Comparison</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="overal_stat.html">Leauge Stats</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Raw Data</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="4f4-ceiling.html">4f4 Ceiling</a>
                        <a class="dropdown-item" href="#">4f4 ...</a>
                        <a class="dropdown-item" href="#">ETR </a>
                        <a class="dropdown-item" href="#">DraftKingz</a>
                    </div>
                  </li>
            </ul>
        </div>
        </div>
</nav>