{% extends "base.html" %}


{% block body %}
{% include 'navbar.html' %}
{{ super() }}
<style>
.btn-circle {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  padding: 0;
  font-size: 0.8rem;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

  line {
    stroke: black;
    stroke-width: .5px;
    fill: none;
    opacity: .5;
  }

</style>
{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
  <!-- start main  -->
      <main role="main" class="col-md-12 col-lg-12 ">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Team Builder | Stack App</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
            </div>
          </div>
        </div>
  <div class="spacer --small">
    
      <div class="showcase__section">
        <div class='container-fluid'>
          <div class='row'>
          <div id='stackApp'></div>
          <div class="card  box-shadow col-5 " id='teamBuilder'>
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Team Builder</h4>
            </div>
            <div class="card-body">


              <div class="input-group mb-3">
                <input id='nameSetter' type="text" class="form-control" placeholder="Team Name" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button id='nameSetterButton' class="btn btn-outline-secondary" type="button">Set Name</button>
                </div>
              </div>

              <div class='row'>

              <div class="card">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">QB Selection: 
                    <div class="control-row">
                     <select class='posSelect' id="qbSelection">
                      </select>
                      </div>
                  </li>
                  <li class="list-group-item">RB Selection: 
                    <div class="control-row">
                       <select class='posSelect' id="rbSelection">
                      </select>
                      </div>
                  </li>
                  <li class="list-group-item">WR Selection: 
                    <div class="control-row">
                      <select class='posSelect' id="wrSelection">
                      </select>
                      </div>
                  </li>
                </ul>
              </div>
            <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">TE Selection: 
                <div class="control-row">
                  <select class='posSelect' id="teSelection">
                  </select>
                  </div>
              </li>
              <li class="list-group-item">DST Selection: 
                <div class="control-row">
                  <select class='posSelect' id="dstSelection">
                  </select>
                  </div>
              </li>
              <li class="list-group-item">Flex Selection: 
                <div class="control-row">
                  <select class='dropdown posSelect' id="flexPositionSelection">
                  </select>
                  <select class='dropdown posSelect' id="flexPlayerSelection">
                  </select>
                  </div>
              </li>
            </ul>
          </div>
          <div class='control-row'>
            <button type="button" class="btn btn-primary" id='submitButton'>Submit</button>
      </div>
            </div>
          </div>
          <div class='row' id='currentTeam'>
          </div>
          </div>
        </div>
      </div>
      </div>

        <h2>Selected Teams</h2>
        <div class="table-responsive">
          <table id='teamTable' class="table table-striped">
            <thead>
              <tr>
                <th>Team Name</th>
                <th>Average Projection</th>
                <th>Total Price</th>
                <th>$ per Pt</th>
                <th>QB</th>
                <th>RB_1</th>
                <th>RB_2</th>
                <th>WR_1</th>
                <th>WR_2</th>
                <th>WR_3</th>
                <th>TE</th>
                <th>DST</th>
                <th>Flex</th>
              </tr>
            </thead>
            <tbody id='tableBody'>
              
            </tbody>
          </table>

        </div>
    </div>
  </div>
  
 </main>
</div>
</div>
      <!-- end main -->
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/d3-scale-chromatic/d3-scale-chromatic.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/d3/d3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/d3-color/d3-color.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/stack_app_func.js') }}"></script>
  <script src="{{ url_for('static', filename='js/d3_stackapp.js') }}"></script>
{% endblock %}