{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}

    <div class="container">
        <div class="row">
          <div class="col-sm">
    <thead>
        {% for h in headers %}
            <th>{{h}}</th>
        {% endfor %}
            </thead>
        <tbody>
            {% for d in data %}
            <tr>
                {% for key in d.keys() %}
                    <td> {{ d[key] }}</td>
                 {% endfor %}
            </tr>
            {% endfor %}
        </div>
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>
    </div>


{% endblock %}

{% block scripts %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/DataTables/datatables.min.css') }}"/>
 
  <script type="text/javascript" src="{{ url_for('static', filename='js/DataTables/datatables.min.js') }}"></script>
  
  <script src="{{ url_for('static', filename='js/make_table.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='js/dash_chart.js') }}"></script> -->
{% endblock %}